<% provide(:title, "Home") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 center-lg">
      <h1 >SHE | The Web App</h1>
      <h2>Relationship Simplified</h2>
      <%= link_to 'Sign Up', '#', class: 'btn-lg' %>
    </div>
  </div>
</div>
