<% provide(:title, "Home") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>This is the home page</h1>
      <iframe src="//giphy.com/embed/r1fDuPIcs18d2" width="480" height="257" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    </div>
  </div>
</div>
