<% provide(:title, "New User") %>
<div class="container-fluid block block-about-1">
  <div class="layer">
    <div class="row about-row">
      <div class="col-md-3 left-arrow">
        <p class="arrow-hidden">
          <
        </p>
      </div>
      <div class="col-md-6">
        <div class="first is-showing">
          <h1>Thanks for Signing Up</h1>
          <p class="about-text">
            First you're going to want to follow @SophieEkaf on twitter. Then you
            can start direct messaging her.
          </p>
        </div>
        <div class="second is-hidden">
          <h1>Second Text</h1>
          <p class="about-text">
            First you're going to want to follow @SophieEkaf on twitter. Then you
            can start direct messaging her.
          </p>
        </div>
        <div class="third is-hidden">
          <h1>Third Text</h1>
          <p class="about-text">
            First you're going to want to follow @SophieEkaf on twitter. Then you
            can start direct messaging her.
          </p>
        </div>
      </div>
      <div class="col-md-3 right-arrow">
        <p class="arrow-showing">
          >
        </p>
      </div>
    </div>
  </div>
</div>
