<% provide(:title, "New User") %>
<div class="container-fluid block block-about-1">
  <div class="layer">
    <div class="row about-row">
      <div class="col-md-3 left-arrow">
        <p class="arrow-hidden">
          <
        </p>
      </div>
      <div class="col-md-6">
        <div class="first is-showing">
          <h1>Step 1</h1>
          <p class="about-text">
            First, if your twitter account is protected, you're going to want to accept
            Sophie's request to follow you. Then you're going to want to follow @SophieEkaf on twitter.
          </p>
          <%= image_tag("follow.png", class: "center_me") %>
        </div>
        <div class="second is-hidden">
          <h1>Step 2</h1>
          <p class="about-text">
            Now you can direct message Sophie on twitter. Click on messages in the
            navigation bar on twitter. Then click on new message, and you can
            send a message to Sophie. She'll message you back in a couple of minutes.

          </p>
          <%= image_tag("dm.png", class: "center_me") %>
        </div>
        <div class="third is-hidden">
          <h1>Step 3</h1>
          <p class="about-text">
            feel free to chat with her on our webpage, and add Sophie Ekaf on facebook.
          </p>
          <%= image_tag("chat.png", class: "center_me") %>
          <%= image_tag("fb.png", class: "center_me") %>
          <br><br><br>
        </div>
      </div>
      <div class="col-md-3 right-arrow">
        <p class="arrow-showing">
          >
        </p>
      </div>
    </div>
  </div>
</div>
