<% provide(:title, "Log In") %>
<div class="container-fluid block-login-1">

  <h1>please enter your login information below</h1>
  <h3>username</h3>
  <h3>password</h3>

</div>
<!-- not sure how the forms work so maybe alex should do this-->
