<% provide(:title, @user.name) %>
<div class="container-fluid block block-user-1">
  <div class="layer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1><%= @user.name %></h1>
        <p class="about-text">
          This is the new users page
        </p>
        <p>
        <%= link_to "send", user_send_message_path, method: :post %>
        </p>
      </div>
    </div>
  </div>
</div>
