<% provide(:title, @user.name) %>
<<<<<<< HEAD
<h1><%= @user.name %></h1>
<h2>This is your email address <%= @user.email %></h2>
<h3>This is your phone number <%= @user.phone_number %></h3>
=======
<div class="container-fluid block block-user-1">
  <div class="layer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1><%= @user.name %></h1>
        <p class="about-text">
          This is the new users page
        </p>
      </div>
    </div>
  </div>
</div>
>>>>>>> master
