body {
  background-color: rgb(85,0,0);
}

.hello{
  color: rgb(255,170,170);
  position: fixed;
  top: 40%;
  right: 50%;
}
.chat{
  color: rgb(255,170,170);
  position: fixed;
  top: 43%;
  right: 50%;
}
#input{
  position: fixed;
  top: 49%;
  right: 50%;
}
#submit{
  position: fixed;
  top: 54%;
  right: 50%;
}
