// Place all the styles related to the facebook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page{
  position: fixed;
  top: 30%;
  right:40%;
}
body{
  background-color: rgb(136, 45, 96);
}
