// Place all the styles related to the facebook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page{
  position: fixed;
  top: 10%;
  right:40%;
}
body{
  background-color: rgb(59, 89, 152);
  background-image: url('nature-field-flowers-grass.jpg');
  background-size: cover;
}
#title{
  font-size: 4.0em;
}

#title{
	color: white;
}

#status{
	text-align: right;
	margin: 10% 15% 8% 0%;
	
}

#txt{
	width: 100%;
	height: 2.0em;
}

#postMessage{
	float: right;
}

#sendMessage{
	margin: 0% 0% 0% 30%;
}
