@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700');

// ==============================
//        DECLARE COLORS
// ==============================
$pink: rgb(255,192,203);
$dark-gray: #3D3C3A;

// Just taking away the default anchor styles
a:hover {
  text-decoration: none;
}

// ==============================
//         DEFAULT STYLES
// ==============================
body{
  font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

// ==============================
//       STYLES FOR BLOCKS
// ==============================

.block {
  height: 100%;
  width: 100%;

  // ======================================================
  //                    HOMEPAGE BLOCKS
  // ======================================================
  &.block-1 {
    background: image-url("red-love-romantic-flowers.png");
    background-size: cover;
    padding: 0;
    overflow-x: hidden;
  }

  &.block-2 {
    background-color: white;
    h1 {
      color: $dark-gray;
      padding-bottom: 5px;
      margin-bottom: 0px;
      font-size: 3em;
    }

    p {
      border-top: 4px solid $dark-gray;
      color: $dark-gray;
      padding-top: 20px;
      margin: 0;
      font-size: 1.8em;
    }
  }

  &.block-3 {
    background-color: $dark-gray;

    h1 {
      padding-top: 3%;
      color: white;
      padding-bottom: 5px;
      margin-bottom: 0px;
      font-size: 3em;
    }

    p {
      color: white;
      border-top: 4px solid white;
      padding-top: 20px;
      margin: 0;
      font-size: 1.8em;
    }

    img {
      padding-top: 0%;
      padding-left: 15%;
      height: 70%;
      width: auto;
    }
  }

  &.block-4 {
    background-color: $pink;

    h1 {
      color: black;
      margin-top: 4%;
      padding-bottom: 5px;
      margin-bottom: 0px;
      font-size: 3em;
    }

    p {
      color: black;
      border-top: 4px solid black;
      padding-top: 20px;
      margin: 0;
      font-size: 1.8em;
    }
  }

  // ======================================================
  //                     ABOUT BLOCKS
  // ======================================================

  &.block-about-1 {
    background: image-url("pexels-photo-27714.png");
    background-size: cover;
    padding: 0;
    overflow-x: hidden;

    h1{
      padding-top: 10%;
      text-align: center;
      font-size: 3em;
    }
  }

  // ======================================================
  //                     USER BLOCKS
  // ======================================================
  &.block-user-1 {
    background: image-url("japanese-cherry.jpg");
    background-size: cover;
    padding: 0;
    overflow-x: hidden;

    h1 {
      padding-top: 10%;
      text-align: center;
      font-size: 3em;
      .edit_profile {
          font-size: 0.4em;
      }
    }

    .user-features {
        text-align: center;
        font-size: 1.5em;
    }
  }
  // ======================================================
  //                   NEW USER BLOCKS
  // ======================================================

  &.block-new-user-1 {
    background: image-url("nature-flowers-vintage-plant.png");
    background-size: cover;
    padding: 0;
    overflow-x: hidden;

    h1{
      padding-top: 10%;
      text-align: center;
      font-size: 3em;
    }

    form {

      label {
        color: white;
        text-transform: uppercase;
        padding-left: 10%;
        margin-top: 15%;
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
      }

      input {
        margin-left: 10%;
        display: block;
        width: 80%;
        height: 20%;

        &:focus {
          box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
        }
      }

      .btn-lg{
        margin-top: 2%;
      }

      #user_name, #user_email, #user_password, #user_password_confirmation, #user_twitter_handle{
        height: 40px;
        border: 3px solid white;
        margin-bottom: 2%;
      }
    }
  }

  // ======================================================
  //                     LOGIN BLOCKS
  // ======================================================

  &.block-login-1{
    background: image-url("flowers1.jpg");
    background-size: cover;
    padding: 0;
    overflow-x: hidden;

    h1{
      padding-top: 10%;
      text-align: center;
      font-size: 3em;
    }

    p {
      padding-left: 10%;
      a {
        color: white;
        font-size: 1.5em;
      }
    }

    form {

      label {
        color: white;
        text-transform: uppercase;
        padding-left: 10%;
        margin-top: 15%;
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
      }

      input {
        margin-left: 10%;
        display: block;
        width: 80%;
        height: 20%;

        &:focus {
          box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
        }
      }

      .btn-lg{
        margin-top: 2%;
      }

      #sessions_email, #sessions_password {
        height: 40px;
        border: 3px solid white;
        margin-bottom: 2%;
      }
    }
  }
}

.row-block {
  margin-top: 7em;
}

// Don't remember what it does but keep it. It's applied to the highest
// parent div in application.html.erb
// Keeps the nav bar at the top
.full-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// Puts the opaque layer over the background
.layer {
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

// ==============================
//         NAVBAR STYLES
// ==============================
.navbar {
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;

  .logo {
    float: left;

    h1 {
      color: rgb(255,192,203);
      display: block;
      border-bottom: 2px solid rgb(255,192,203);;
      text-transform: capitalize;
      font-size: 2.5em;
      margin-top: 10px;
      vertical-align: middle;
    }

    a {
      color: rgb(255,192,203);
    }
  }
  .links {
    float: right;

    li {
      font-family: 'Open Sans', sans-serif;
      margin-left: 2em;
      font-size: 2em;
      list-style-type: none;
      display: inline-block;

      a {
        color: white;
      }


      &:hover {
        animation: under .2s ease-in-out forwards;
      }
    }
  }
}

// ==============================
//        HOMEPAGE STYLES
// ==============================
.center-lg {
  text-align: center;

  h1 {
    color: rgb(255,192,203);
    font-size: 6em;
    margin-top: 3em;
    margin-bottom: 10px;
  }

  h2 {
    margin: .2em 0;
    margin-bottom: 1em;
    font-size: 4em;
  }
}

@media (min-width: 1000px) {
  .center-lg {
    h1 {
      margin-top: 10%;
    }
  }
}

// ==============================
//         BUTTON STYLES
// ==============================
.btn-lg {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  background-color: rgb(255,192,203);
  border: 3px solid rgb(255,192,203);

  &:hover {
    animation: invert .3s ease-in-out forwards;
  }
}

@keyframes invert {
  0% {
    background-color: rgb(255,192,203);
    color: white;
    border: 3px solid rgb(255,192,203);
  }
  100% {
    background-color: white;
    color: rgb(255,192,203);
    border: 3px solid white;
  }
}

@keyframes under {
  0% {
    border-bottom: none;
  }
  100% {
    border-bottom: 2px solid white;
  }
}

// SCROLL BUTTONS
// button to scroll to top of page
.back-to-top {
    position: fixed;
    display: none;
    margin-right: auto;
    margin-left: auto;
    bottom: 3vh;
    // height: 5vh;
    // width: 5vh;
}

// links to scroll down by a page
.down-by-page {
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: block;
    vertical-align: middle;
    font-size: 3em;
    text-decoration: none;
    padding: 20px;
    outline-style: none;
    padding-bottom: 60px;
    &:link, &:hover, &:visited, &:active {
        text-decoration: none;
    }
    &:link {
        color: $pink
    }
    &:hover {
        color: white;
    }
    &#how {
    }
    &#signup {
        color: white;
        &:hover {
            color: $pink;
        }
    }
}

.row-btn {
  margin-top: 3em;
}

.row-btn2 {
  margin-top: 3em;
}

.bubble1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  // background-color: $pink;
  background: image-url("arrow-white2.png");
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  align-content: center;
  margin: auto;
}

.bubble2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  // background-color: $pink;
  background: image-url("arrow-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  display: table;
  align-content: center;
  margin: auto;
}

// ==============================
//       ABOUT PAGE STYLES
// ==============================
.about-text {
  color: white;
  font-size: 2em;
}

// ==============================
//        ERROR MESSAGES
// ==============================
// General signup or login error messages
.error-list {
    color: rgb(255,100,100);
    font-size: 1.2em;
}
.login-error {
    margin-left: 10%;
}

// ==============================
//       SIGNED UP STYLES
// ==============================
.about-row {
  height: 100%;
}
.left-arrow {
  font-size: 150px;
  text-align: center;
  height: 100%;
  padding-top: 10%;
}
.right-arrow {
  font-size: 150px;
  text-align: center;
  height: 100%;
  padding-top: 10%;
}
.is-showing {
  display: block;
  text-align: center;
}

.is-hidden {
  display: none;
}
.arrow-showing {
  display: block;
}

.arrow-hidden {
  display: none;
}

.in {
  animation: animate-in 500ms ease-in-out forwards;
}

.out {
  animation: animate-out 500ms ease-in-out forwards;
}

@keyframes animate-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img.center_me {
  margin-left: auto;
  margin-right: auto;
}
