<!DOCTYPE html>
<html>
<head>
<title>cleverbot</title>
<script src="//cdn.cleverbot.io/build/1.0/cleverbot.io.min.js"></script>

</head>


<BODY TOPMARGIN="0" LEFTMARGIN="0" RIGHTMARGIN="0" BOTTOMMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" STYLE="border:0"><A NAME="top"></A>

<CENTER>
<P>&nbsp;</P>
<H3>sophie</H3>
<TABLE BORDER="0" CELLSPACING="10" CELLPADDING="0">
<FORM NAME="e_form" onsubmit="send();">
<TR><TD COLSPAN="2"><TEXTAREA NAME="e_display" COLS="60" ROWS="20"></TEXTAREA></TD></TR>
<TR VALIGN="middle">
	<TD><INPUT TYPE="text" NAME="e_input" SIZE="50" AUTOCOMPLETE='off' id="user_text"></TD>
	<TD ALIGN="right"><INPUT TYPE="submit" VALUE="&nbsp;Talk&nbsp;"> <INPUT TYPE="reset" VALUE="Reset" onClick="window.setTimeout(100)"></TD>
		<INPUT TYPE="text" id="response">
</TR>
</FORM>
</TABLE>
</CENTER>

<P>&nbsp;</P>
<P>&nbsp;</P>
<TABLE BORDER="0" CELLSPACING="12" CELLPADDDING="0">

<br>
<br><br>
</TABLE>
<!--
<SCRIPT>
var bot = new cleverbot('vaBi6CXPo2OmHyLY','ZHffBRgPkoNversY3snVpXtUpfIrpAkH');
bot.setNick("sophie")
bot.create(function (err, 'sophie') {
});
bot.ask("Just a small town girl", function (err, response) {
  console.log(response); // Will likely be: "Living in a lonely world"
	textbox = document.getElementById('response')
	textbox.value = response

});
	function send () {
		textbox = document.getElementById('response')
		// textbox.value = "fuck"
		bot.ask("Just a small town girl", function (err, response) {
		  console.log(response); // Will likely be: "Living in a lonely world"
			textbox = document.getElementById('response')
			textbox.value = response

	}
</SCRIPT> -->
<script>

var bot = new cleverbot('vaBi6CXPo2OmHyLY','ZHffBRgPkoNversY3snVpXtUpfIrpAkH');
bot.setNick("sophie")

bot.create();
function send(){
	var question = document.getElementById('user_text')
	question.value = 'hello'

bot.ask("do you love me", function (err, response) {
  console.log(response); // Will likely be: "Living in a lonely world"
});}

</script>


</BODY>
</HTML>
