<p class="hello">say hello!</p>
<p class="chat">chat with her! </p>
<div id="chat">
<%= form_for :users, class: "chat" do |f| %>

  <%= f.label :message %>
  <%= f.text_field :message %> <br />


  <%= f.submit "send", class: "button sendMessage" %>

<% end %>
</div>
