<p> response </p>
<div id="chat">
<%= form_for :users, class: "chat" do |f| %>

  <%= f.label :send_another_message %>
  <%= f.text_field :message %> <br />


  <%= f.submit "send", class: "button sendMessage" %>

<% end %>
</div>
