<html>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1395971467128300', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.Event.subscribe('auth.authResponseChange', function(response){
     if (response.status === 'connected'){
        document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
    }
    else if (response.status === 'not_authorized'){
        document.getElementById("message").innerHTML +=  "<br>Failed to Connect";
    } else {
        document.getElementById("message").innerHTML +=  "<br>Logged Out";
    }});
    };

    function Login(){
        FB.login(function(response) {
           if (response.authResponse){
                getUserInfo();
            } else {
             console.log('User cancelled login or did not fully authorize.');
           }},{scope: 'email,user_photos,user_videos,publish_actions'});}

  function getUserInfo() {
        FB.api('/me', function(response) {
          var str="<b>Name</b> : "+response.name+"<br>";
          // str +="<b>Link: </b>"+response.link+"<br>";
          // str +="<b>Username:</b> "+response.username+"<br>";
          // str +="<b>id: </b>"+response.id+"<br>";
          // str +="<b>Email:</b> "+response.email+"<br>";
          str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
          str +="<input type='button' value='Logout' onclick='Logout();'/>";
          document.getElementById("status").innerHTML=str;
    });}

    function getPhoto(){
      FB.api('/me/picture?type=normal', function(response) {
          var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
          document.getElementById("status").innerHTML+=str;
    });}

    function Logout(){
        FB.logout(function(){document.location.reload();});
    }

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

   function postTimeline(){
     FB.api('/me/feed', 'post', {message: 'test post10'});
   }
   function postTimelineCustom(){
     var message = retrieve('txt');
     FB.api('/me/feed', 'post', {message: message});
   }
   function retrieve(id) {
       var txtbox = document.getElementById(id);
       var value = txtbox.value;
       txtbox.value = ""
       return value
   }
   function like() {
     FB.api(
    "/114054302473773/likes",
    "POST",
    function (response) {
      if (response && !response.error) {
        /* handle the result */
      }
    }
);
   }

</script>
<div id='page'>
<div align="center">
<h2 id='title'>facebook</h2>

<div id="status">
  <button onclick="Login()">log in</button>
  <br>
</div>

<script>
function myFacebookLogin() {
  FB.login(function(){}, {scope: 'publish_actions'});
}
</script>
<button onclick="myFacebookLogin()">allow</button>

<!-- <div id='postTimeline'>
  <button onclick="postTimeline()"> post to your timeline </button>
</div> -->
</div>

<input type="text" name="txt" id="txt"/>
<button onclick="postTimelineCustom()"/>post message</button><br>

<!-- <button onclick="like()"/>like own profile picture</button> -->

</div>
</body>
</html>
